/* ===== general styling ====== */
.app {
  background-color: #f5f5f5;
  min-height: 100vh;
}

body::-webkit-scrollbar {
  width: 0.4em;
}

body::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

body::-webkit-scrollbar-thumb {
  background-color: #212429;
}

/* ===== signIn/signUp ===== */
.sign_in_body {
  min-height: 90vh;
}

.sign_in_container {
  width: 45%;
  margin-right: auto;
  margin-left: auto;
}

.sign_in_container button {
  width: 100%;
}

.sign_in_container span,
.passwrod_edit_form span {
  width: 20%;
}

.change_password_form {
  min-height: 70vh;
}

/* ===== profile page ===== */
.profile_container,
.loadlist_container {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

/* ===== load pages ===== */
.load_table {
  width: 150%;
}
