body {
	background-color: #f5f5f5;
}

/* ===== signIn/signUp ===== */
.sign_in_body {
	min-height: 90vh;
}

.sign_in_container {
	width: 35%;
	margin-right: auto;
	margin-left: auto;
}

.sign_in_container button {
	width: 100%;
}

.sign_in_container span {
	width: 20%;
}
